.main-header {
    background-color: $white;
    box-shadow: 0 4px 8px rgba($black, 0.2);

    .nav {
        .nav-link {
            color: #666;
            padding-block: 1.5rem;
            font-size: 1.25rem;

            &:hover {
                color: $black;
            }

            &.active {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 4px;
                    inset-inline-start: 1rem;

                    width: 1rem;
                    height: 2px;

                    background-color: $primary;
                }
            }
        }
    }
}

.main-content {
    padding-bottom: 2rem;
}
